.hero-text {
  margin-top: 13rem;
  padding-right: 1rem;
  font-size: 4rem;
  color: rgb(80, 80, 80);
  font-family: "Khula", sans-serif;
}
.hero-food {
  width: 1000px;
  padding-right: 50px;
  object-fit: cover;
  position: relative;
}

.hero-description {
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
  padding-right: 70px;
  font-family: "Khula", sans-serif;
}



.noborder{
  border: none;
  box-shadow: 4px 6px 65px 3px rgba(0, 0, 0, 0.1);
  
}

.orderbtn {
  color: white;
  background-color: #ff9f0d;
  margin-bottom: 50px;
}

.side-nuts {
  width: 200px;
  position: relative;
  transform: rotate(-20deg);
  top: -7px;
  left: -50px;
  margin-bottom: 3rem;
}
.side-nuts-right {
  width: 200px;
  position: relative;
  transform: rotate(-20deg);
  top: -7px;
  right: -40px;
  margin-bottom: 3rem;
}

.learn-more {
  margin-top: 100px;
}

/* How it works section */
.how-it-works {
  margin-bottom: 8rem;
}

/* What are they saying section */
.review {
  height: fit-content;
  width: 600px;
  padding: 0px 5rem 2rem 5rem;
  box-shadow: 4px 6px 65px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50% 20% / 10% 40%;
}
.reviewer {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

/* FOoter */
.footer-address {
  display: flex;
}
.foot-item {
  padding-bottom: 0px;
  margin-right: 3rem;
}

.footer-links {
  text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 970px) {
  .hero-text {
    margin-top: 2rem;
  }

  .side-nuts-container {
    visibility: hidden;
  }

  .hero-food {
    width: 1000px;
    position: relative;
    top: -200px;
    margin-top: 90px;
  }
}

.fas {
  color: #ff9f0d;
}

/* Animations */
:root {
  --animate-duration: 2000ms;
  --animate-delay: 0.9s;
}
